<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>Информация о программе</title>
    <meta charset="utf-8" />
    
</head>
<body>
    <div class="container-fluid"> 
        <h2 class="display-6">Информация о программе</h2>
        
        <div style="font-size: 20px;">
            <div>
                Данная программа является реализацией дипломной работы на тему "Разработка системы для предсказания успеваемости студентов на основе данных портала «Электронный ЮУрГУ»"
            </div>

            <div>
                Научный руководитель: доктор физ.-мат. наук М.Л. Цымблер
            </div>

            <div>
                Автор работы: студенты группы КЭ-403 Д.В. Старостенок 
            </div>

            <div>
                <h4>Система предоставляет функционал:</h4>
                <ul>
                    <li>Извлечение данных из:</li>
                        <ul>
                            <li>API системы "Универис"</li>
                                Для получения данных необходимо указать:
                                <ul>
                                    <li>Диапазон годов</li>
                                    <li>Диапазон учебных курсов (от 1 до 4)</li>
                                    <li>Высшую школу</li>
                                </ul>
                            <li>Сохраненных CSV файлов</li>
                                Для получения данных необходимо загрузить следующие CSV файлы: 
                                <ul>
                                    <li>Журнал за год</li>
                                    <li>Информация о студентах</li>
                                    <li>Рейтинг студентов по предметам</li>
                                    <li>Результаты ЕГЭ студентов</li>
                                </ul>
                        </ul>
                    <li>Анализ данных</li>
                        Для работы необходимо выполнить извлечение данных любым указанным выше способом<br>
                        Далее необходимо указать:<br>
                        <ul>
                            <li>Модель данных</li>
                            <li>Предмет или Тип контроля предмета в зависимости от модели</li>
                            <li>Аналитическую модель</li>
                            <li>Гиперпараметры</li>
                        </ul>    
                         
                </ul>
            </div>

        </div>

    </div>  
</body>
</html>
{% endblock %}